// STYLING FOR BUTTONS AND FORMS

.startButton, .restartButton {
    padding: 20px;
    display: inline-block;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    box-shadow: $dropShadow;
    border: 1px solid #333333;
    background: $offWhite;
    display: inline-block;
    
    a {
        font-size: 0.8rem;
    }
}

a:focus {
    background: #CAD7E1;
}

.button:focus {
    background: #CAD7E1;
}

.startButton span {
    color: #6b6b6b
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    input {
        text-transform: uppercase;
    }
}

textarea {
    text-transform: uppercase;
    width: 70%;
    height: 50px;
    min-width: 400px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    display: block;
}

textarea:focus {
    border: 2px solid #7DA9CA;
}


// MEDIA QUERIES START HERE
@media(max-height: 450px) {
    .startButton, .restartButton {
        padding: 15px;
    }
}

@media(max-width: 500px) {
    textarea {
        min-width: 90%;
        height: 70px;
    }
}

@media(max-width: 380px) {
    .startButton, .restartButton {
        padding: 15px;
    }
}


