// GENERAL PAGE STYLING STARTS HERE

html {
    font-size: 125%;
    font-family: 'Lexend Deca', sans-serif;
    color: #333333;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

section {
    height: 100vh;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h2 {
    margin-bottom: 5%;
    text-transform: uppercase;
    display: inline-block;
}


// BACKGROUNDS

.colorSection {
    background: url(images/greenBackground.jpg);
    background-size: cover;
    h2 {
        background: $green;
    }
}

.numberSection {
    background: url(images/blueBackground.jpg);
    background-size: cover;
    h2 {
        background: $blue;
    }
}

.tabSection {
    background: url(images/redBackground.jpg);
    background-size: cover;
    h2 {
        background: $red;
    }
}

.answerSection {
    background: url(images/yellowBackground.jpg);
    background-size: cover;
    .userQuestion {
        background: $yellow;
        margin-bottom: 8%;
    }
}

// FOOTER SECTION STYLING STARTS HERE

footer {
    background: $offWhite;
    padding: 8px;
    p {
        margin: 0;
        font-size: 0.8rem;
    }
}

// MEDIA QUERIES START HERE

@media(max-width: 880px) {
    h2 {
        font-size: 1.2rem;
    }
}


@media(max-width: 500px) {
    .wrapper {
        width: 90%;
    }
}

@media(max-width: 320px) {
    .answerSection .wrapper {
        width: 100%;
    }
}

