// STYLING FOR THE COOTIE CATCHER SQUARES

// GENERAL SQUARE STYLING STARTS HERE

.cootieCatcher {
    display:flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    
    li {
        width: calc(50% - 16px);
        height: calc(50% - 16px);
        margin: 8px;
        background:$offWhite;
        box-shadow: $dropShadow;
        
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-family: 'Permanent Marker', cursive;
        }
    }
}

// COLOR SQUARES STYLING STARTS HERE

@mixin colorCircle($colorCircle) {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: $colorCircle;
}

.greenCircle div {
    @include colorCircle(#6DB66D);
}

.blueCircle div {
    @include colorCircle(#7DA9CA);
}

.yellowCircle div {
    @include colorCircle(#F6D754);
}

.redCircle div {
    @include colorCircle(#FF5D5D);
}

a {
    text-decoration: none;
}


// ANSWER CARD STYLING STARTS HERE

.answerSquare {
    width: 60%;
    min-width: 300px;
    height: 200px;
    background: $offWhite;
    box-shadow: $dropShadow;
    margin: 0 auto;
    margin-bottom: -20px;
    padding: 30px 5px;
    
    .resultHeading {
        margin-bottom: 20px;
        font-weight: normal;
        color: #595959;
    }
}

// MEDIA QUERIES START HERE

// MAX HEIGHT

@media (max-height: 900px) {
    .cootieCatcher {
        width: 600px;
        height: 600px;
    }
}


@media (max-height: 700px) {
    .cootieCatcher {
        width: 500px;
        height: 500px;
    }
}

@media (max-height: 600px) {
    .cootieCatcher {
        width: 400px;
        height: 400px;
        
        li a {
            font-size: 2.5rem;
        }
        
    }
}

@media(max-height: 500px) {
    .cootieCatcher {
        width: 300px;
        height: 300px;
    }
}

// MAX WIDTH

@media(max-width: 750px) and (min-height: 700px) {
    .cootieCatcher {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 600px) and (min-height: 600px) {
    .cootieCatcher {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .answerSquare {
        width: 75%;
    }
}

@media(max-width: 500px) {
    .cootieCatcher {
        width: 285px;
        height: 285px;
        
        li a {
            font-size: 1.8rem;
        }
    }   
}

@media(max-width: 320px) {
    .answerSquare h3 {
        font-size: 1rem;
    }
}

