// STYLING FOR THE COOTIE CATCHER SQUARES

// GENERAL SQUARE STYLING STARTS HERE


.cootieCatcher {
    display:flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    // border: 2px solid tomato;

    li {
        width: calc(50% - 16px);
        height: calc(50% - 16px);
        margin: 8px;
        background:$offWhite;
        box-shadow: $dropShadow;
        // border: 2px solid blue;
    
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: #333333;
        }
    }
}

// COLOR SQUARES STYLING STARTS HERE

@mixin colorCircle($colorCircle) {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: $colorCircle;
}

.greenCircle div {
    @include colorCircle(#4CA64C);
}

.blueCircle div {
    @include colorCircle(#7DA9CA);
}

.yellowCircle div {
    @include colorCircle(#F6D754);
}

.redCircle div {
    @include colorCircle(#FF5D5D);
}

// NUMBER SQUARES STYLING STARTS HERE

a {
    text-decoration: none;
}



// ANSWER CARD STYLING STARTS HERE

.answerSquare {
    width: 50%;
    height: 200px;
    background: $offWhite;
    box-shadow: $dropShadow;
    margin: 0 auto;
    padding: 40px 30px;
    .resultHeading {
        margin-bottom: 20px;
        font-weight: normal;
    }
}


