article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: 'Lexend Deca', sans-serif;
  color: #333333;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section {
  height: 100vh;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #333333;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  margin-bottom: 5%;
  text-transform: uppercase;
  display: inline-block;
}

.colorSection {
  background: url(images/greenBackground2.jpg);
  background-size: cover;
}

.colorSection h2 {
  background: #9EC39E;
}

.numberSection {
  background: url(images/blueBackground.jpg);
  background-size: cover;
}

.numberSection h2 {
  background: #A8BDCD;
}

.tabSection {
  background: url(images/redBackground.jpg);
  background-size: cover;
}

.tabSection h2 {
  background: #FFAEAE;
}

.answerSection {
  background: url(images/yellowBackground2.jpg);
  background-size: cover;
}

.answerSection h2 {
  background: #F3D491;
}

footer {
  background: #F4F4F4;
  padding: 8px;
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}

@media (max-width: 880px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .answerSection .wrapper {
    width: 100%;
  }
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(images/crumpledPaper2.jpg);
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(images/crumpledPaper2.jpg);
  background-size: cover;
}

h1 {
  font-size: 4rem;
  width: 600px;
  margin: 0 auto;
  padding: 20vh 0;
  z-index: 10;
  position: relative;
}

h1 span {
  display: block;
  position: relative;
}

h1 span::before {
  content: '';
  width: 50%;
  height: 15px;
  background: #7DA9CA;
  position: absolute;
  bottom: 8px;
  left: 25%;
  right: 25%;
  z-index: -1;
}

@media (max-height: 980px) {
  h1 {
    font-size: 3rem;
  }
  h1 span::before {
    bottom: 5px;
  }
}

@media (max-height: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  h1 span::before {
    bottom: 5px;
  }
}

@media (max-width: 780px) and (min-height: 500px) {
  h1 {
    width: 100%;
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  h1 {
    padding-bottom: 10vh;
    font-size: 2rem;
  }
}

@media (max-width: 340px) {
  h1 {
    padding-top: 10vh;
  }
}

.startButton, .restartButton {
  padding: 20px;
  display: inline-block;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  -webkit-box-shadow: 5px 5px 2px #999999;
          box-shadow: 5px 5px 2px #999999;
  border: 1px solid #333333;
  background: #F4F4F4;
  display: inline-block;
}

.button a {
  font-size: 0.8rem;
}

@media (max-width: 320px) {
  .startButton, .restartButton {
    padding: 15px;
  }
}

.cootieCatcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.cootieCatcher li {
  width: calc(50% - 16px);
  height: calc(50% - 16px);
  margin: 8px;
  background: #F4F4F4;
  -webkit-box-shadow: 5px 5px 2px #999999;
          box-shadow: 5px 5px 2px #999999;
}

.cootieCatcher li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
}

.greenCircle div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #6DB66D;
}

.blueCircle div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #7DA9CA;
}

.yellowCircle div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #F6D754;
}

.redCircle div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #FF5D5D;
}

a {
  text-decoration: none;
}

.answerSquare {
  width: 60%;
  min-width: 300px;
  height: 200px;
  background: #F4F4F4;
  -webkit-box-shadow: 5px 5px 2px #999999;
          box-shadow: 5px 5px 2px #999999;
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 30px;
}

.answerSquare .resultHeading {
  margin-bottom: 20px;
  font-weight: normal;
  color: #595959;
}

@media (max-height: 900px) {
  .cootieCatcher {
    width: 600px;
    height: 600px;
  }
}

@media (max-height: 700px) {
  .cootieCatcher {
    width: 500px;
    height: 500px;
  }
}

@media (max-height: 600px) {
  .cootieCatcher {
    width: 400px;
    height: 400px;
  }
  .cootieCatcher li a {
    font-size: 2.5rem;
  }
}

@media (max-height: 500px) {
  .cootieCatcher {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 750px) and (min-height: 700px) {
  .cootieCatcher {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 600px) and (min-height: 600px) {
  .cootieCatcher {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 700px) {
  .answerSquare {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .cootieCatcher {
    width: 285px;
    height: 285px;
  }
  .cootieCatcher li a {
    font-size: 1.8rem;
  }
}

.cardScene {
  -webkit-perspective: 600px;
          perspective: 600px;
}

.card {
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  width: 100%;
  height: 100%;
}

.flipSquare {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardFront {
  background: #F4F4F4;
}

.cardBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #F4F4F4;
}

.card.isFlipped {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
          transform: translateX(-100%) rotateY(-180deg);
}
